@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  background-color: gray;
  background-image: url('../img/rock-n-roll-monkey-R4WCbazrD1g-unsplash.jpg ');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: left;
  background-size: 100%;  
}

.hidden {
  display: none;
}

#full-page {
  text-align: center;
}

#input-header {
  margin-top: 40px;
  background-color: rgba(255, 255, 255, 0.7);
}

#input-field {
  margin-top: 40px;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  padding: 50px;
  font-size: xx-large;
  color: black;
  border-color: rgb(14, 201, 73);
  border-style: double;
  border-width: 5px;
  border-radius: 5px;
}

#input-box {
  margin-bottom: 40px;
  border: none;
  border-radius: 7px;
  color: black;
  font-family: 'Roboto Slab', serif;
  font-style: oblique;
}

#count-results {
  margin-top: 40px;
  text-align: center;
  padding: 50px;
  font-size: xx-large;
  background-color: rgba(255, 255, 255, 0.7);
  border-color: rgb(14, 201, 73);
  border-style: double;
  border-width: 5px;
  border-radius: 5px;
}

.pressBtn {
  border: none;
  border-radius: 7px;
  background-color: greenyellow;
  color: black;
  font-family: 'Roboto Slab', serif;
  font-style: oblique;
}

.pressBtn:hover {
  background-color: rgb(12, 178, 68);
}

